<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
   		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
   		<property name="hibernate.connection.url">jdbc:postgresql://localhost/accessctl</property>
   		<property name="hibernate.connection.username">accessctl_user</property>
   		<property name="hibernate.connection.password">accessctl_user_pwd</property>
   		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
   		<property name="hibernate.cache.use_query_cache">true</property>
   		<property name="hibernate.cache.use_second_level_cache">true</property>
   		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
		<property name="show_sql">true</property>
	</session-factory>
</hibernate-configuration>